<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta http-equiv="refresh" content="5; url=/choosepath.html">
    <title>MyLingo Translate</title>
  </head>
  
  <body style="text-align: center;">
    <br>
    <button id="translateBtn">Translate Here</button><br><br><br>
    <div id="manual-write" style="text-align: center;"></div>
    <p>Redirecting to home page...</p>

    <script type="text/javascript">
      document.getElementById('translateBtn').addEventListener('click', function() {
        // Use AJAX or fetch to call the server-side Python script
        // fetch('/translate')
        fetch('/Python Code/hand_landmarks_classification.py')
          .then(response => response.json())
          .then(data => {
            // Display the result on the HTML page
            document.getElementById('manual-write').innerText = data.result;
          })
          .catch(error => console.error('Error:', error));
      });
    </script>
  </body>
</html>
