<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hand Landmarks Classification</title>
</head>
<body>
    <h1>Hand Landmarks Classification</h1>
    
    <video id="camera-feed" width="640" height="480" autoplay></video>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Accessing the user's camera feed
            const video = document.getElementById('camera-feed');
            if (navigator.mediaDevices.getUserMedia) {
                navigator.mediaDevices.getUserMedia({ video: true })
                    .then(function (stream) {
                        video.srcObject = stream;
                    })
                    .catch(function (error) {
                        console.error('Error accessing camera:', error);
                    });
            }
    
            // Fetching data from the server
            const apiUrl = 'http://127.0.0.1:5000/hand_landmarks_classification'; // Update the endpoint
            fetch(apiUrl)
                .then(response => response.json())
                .then(data => {
                    console.log('Predicted Label:', data.predicted_label);
                })
                .catch(error => console.error('Error fetching predicted label:', error));
        });
    </script>
    
</body>
</html>
